footer{
    margin-top: 10vmax;
    padding: 2vmax;
    /* background-color: rgba(34, 33, 33, ); */
    background-color: rgb(34, 30, 30);
    color: white;
    display: flex;
    align-items: center;
   
}
.leftFooter{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leftFooter >h4{
    font-family: "Franklin Gothic Medium";
    font-size: 2vmax;
}
.leftFooter >p{
    font-size: 1vmax;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.leftFooter >img{
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
}
.midFooter{
    width: 60%;
    text-align: center;
}
.midFooter >h1{
    font-size: 4vmax;
    font-family: 'Roboto';
    color: #eb4034;
}
.midFooter >p{
    max-width: 60%;
    margin: 1vmax auto;
}
.rightFooter{
    width: 20%;
    display: flex;
    align-items: center;
    
}


.rightFooter >a{
    text-decoration: none;
    display: flex;
    flex-direction: row !important;
    font-size: 1.3vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-right: 1.5vmax;
    transition: all 0.5s linear;
}
.rightFooter >a:hover{
    transform: scale(1.3);
    
}